h1{
  width: 90%;

  font-size: 5vh;
  font-weight: 500;

}

.input-nome{
  width: 100%;
  padding: 0;
  margin: 0;
}

.input-url{
  width: 100%;
  padding: 0;
  margin: 0;
}

.button-addEndpoint {
  background-color: var(--yellowJ) !important; /* Cor amarela */
  color: #fff !important; /* Cor do texto */
  font-size: 18px;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
  margin-top: 4vh !important;
  margin-bottom: 4vh;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.button-addEndpoint:hover {
  background-color: var(--yellowJhover)!important;
}

strong{
  color: red;
}

.form-req{
  width: 29%;
}

.urlEndpoint{
  width: 50%;
}

.remove:hover{
  background-color: var(--redHover);
}


.removeParam:hover{
  background-color: var(--redHover);
}

.boxAddParam{
  margin-bottom: 4vh;
}

.end-description{
  font-size: 18px;
}

.add-param-txt{
  font-size: 18px;
  color: var(--yellowJ);
  font-weight: 700;
}

.addParam{
  color: white !important;
  background-color: var(--yellowJ)!important;
  width: 30px;
  height: 30px;
}

.addParamIcon{
  width: auto;
  height: auto;
  font-size: 18px;
  background-color: var(--yellowJ);
}

.formNameParam{
  width: 29%;
}

.formValueParam{
  width: 29%;
}

.slide-required{
  margin-top: 11px;
  font-size: 28px;

}

.input-urlendpoint{
  width: 100%;
  position: relative;
  padding-bottom: 3vh;
  margin-top: 3.5vh;
  font-size: 16px;
  text-align:start;

}

.error-messages {
  height: 20px;
  margin-top: 5px;
  color: red;
  font-size: 12px;
}

.linha{
  border-top: 2px rgb(255, 197, 72) solid;
}

.cadastrar {
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 5vh;
  background-color: var(--green) !important;
}

.cadastrar:disabled {
  background-color: #ccc !important; /* cor cinza */
  cursor: not-allowed;
}
/*
.end-param-box{
  padding: 16px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
*/








