<h1>Cadastre um novo aplicativo Madero</h1>

<form [formGroup]="formNewApi" (ngSubmit)="cadastrarAPI()">
  <div>
    <label for="nameFormControl">Nome do Aplicativo</label>
    <input id="nameFormControl" formControlName="nameFormControl" />
    <div *ngIf="formNewApi.get('nameFormControl')?.invalid && (formNewApi.get('nameFormControl')?.dirty || formNewApi.get('nameFormControl')?.touched)">
      <div *ngIf="formNewApi.get('nameFormControl')?.errors"><strong>Nome é obrigatório.</strong></div>
      <div *ngIf="formNewApi.get('nameFormControl')?.errors"><strong>Nome deve ter no mínimo 3 caracteres.</strong></div>
      <div *ngIf="formNewApi.get('nameFormControl')?.errors"><strong>Nome deve ter no máximo 100 caracteres.</strong></div>
    </div>
  </div>

  <div>
    <label for="appUrlFormControl">URL do Aplicativo</label>
    <input id="appUrlFormControl" formControlName="appUrlFormControl" />
    <div *ngIf="formNewApi.get('appUrlFormControl')?.invalid && (formNewApi.get('appUrlFormControl')?.dirty || formNewApi.get('appUrlFormControl')?.touched)">
      <div *ngIf="formNewApi.get('appUrlFormControl')?.errors"><strong>URL é obrigatória.</strong></div>
      <div *ngIf="formNewApi.get('appUrlFormControl')?.errors"><strong>URL inválida.</strong></div>
    </div>
  </div>

  <div>
    <label for="authUrlFormControl">URL de Autenticação (Opcional)</label>
    <input id="authUrlFormControl" formControlName="authUrlFormControl" />
  </div>

  <h2>Endpoints</h2>
  <p class="end-description">Adicione os endpoints usados pelo aplicativo, estes serão usados para realizar chamadas com seus respectivos
    parâmetros, verificar seus status e funcionalidades</p>

  <div formArrayName="endpoints">
    <div *ngFor="let endpoint of endpoints.controls; let i = index" [formGroupName]="i">
      <div>
        <mat-form-field class="form-req" appearance="fill" >
          <mat-label  for="reqFormControl">Tipo de requisição</mat-label>
          <mat-select
          formControlName="reqFormControl"
          id="reqFormControl"
          required
          >
            <mat-option value="GET">GET</mat-option>
            <mat-option value="POST">POST</mat-option>
            <mat-option value="PUT">PUT</mat-option>
            <mat-option value="DELETE">DELETE</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="endpoints.at(i).get('reqFormControl')?.invalid && (endpoints.at(i).get('reqFormControl')?.dirty || endpoints.at(i).get('reqFormControl')?.touched)">
        <div *ngIf="endpoints.at(i).get('reqFormControl')?.errors"><strong>URL é obrigatória.</strong></div>
        </div>
      </div>

      <div>
        <label for="endpointUrlFormControl">URL do Endpoint</label>
        <input id="endpointUrlFormControl" formControlName="endpointUrlFormControl" />
        <div *ngIf="endpoints.at(i).get('endpointUrlFormControl')?.invalid && (endpoints.at(i).get('endpointUrlFormControl')?.dirty || endpoints.at(i).get('endpointUrlFormControl')?.touched)">
          <div *ngIf="endpoints.at(i).get('endpointUrlFormControl')?.errors"><strong>URL é obrigatória.</strong></div>
          <div *ngIf="endpoints.at(i).get('endpointUrlFormControl')?.errors"><strong>URL inválida.</strong></div>
        </div>
      </div>

      <div formArrayName="params">
        <div *ngFor="let param of getParamsControls(endpoint); let j = index" [formGroupName]="j">
          <div>
            <label for="paramNameFormControl">Nome do Parâmetro</label>
            <input id="paramNameFormControl" formControlName="paramNameFormControl" />
            <div *ngIf="param.get('paramNameFormControl')?.invalid && (param.get('paramNameFormControl')?.dirty || param.get('paramNameFormControl')?.touched)">
              <div *ngIf="param.get('paramNameFormControl')?.errors"><strong>Nome é obrigatório.</strong></div>
            </div>
          </div>

          <div>
            <label for="value">Valor</label>
            <input id="value" formControlName="value" />
          </div>

          <mat-slide-toggle [checked]="getFormControl(param, 'required')?.value" (change)="toggleRequired(param)">Obrigatório</mat-slide-toggle>

          <button type="button" (click)="removeParam(i, j)">Remover Parâmetro</button>
        </div>
        <button type="button" (click)="addParam(i)">Adicionar Parâmetro</button>
      </div>

      <button type="button" (click)="endpoints.removeAt(i)">Remover Endpoint</button>
    </div>
    <button type="button" (click)="addEndpoint()">Adicionar Endpoint</button>
  </div>

  <button class="cadastrar" type="submit" [disabled]="formNewApi.invalid">Cadastrar API</button>
</form>
