.container{
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 35vh;
  padding-left: 2vh;
  border-right: 2px rgb(255, 197, 72) solid;
}

.menu-true{
  margin-right: 1.5vh;
}

.item-sidenav {
  display: flex;
  align-items: center;
}

.icon {
  color: var(--yellowJ);
  margin-right: 1vh;
  vertical-align: middle;
  font-size: 20px;
}



.madero-logo {
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 20vh;
}

.madero-logo {
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 20vh;
}

h4{
  color: var(--yellowJ);
  font-size: 20px;
  font-weight: 500;

}

.content-main{
  margin: 0;
  padding: 0 5vh 0 15vh;
}

.toggle-button {
  position: fixed;
  font-size: 54px;
  top: 2.4vh;
  left: 5vh;
  z-index: 5000;
  padding: 2vh;
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  align-items: center; /* Add this */

}

.mini-logo {
  width: 4vh;
  height: 3vh;
  margin: 0; /* Remove margins */
}

