<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" #drawer mode="side" opened="true">
    <!-- conteúdo da sidenav -->
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <img class="madero-logo" src="../assets/image/Captura de tela 2024-05-16 091157.png" alt="madero logo">
      <button class="menu-true" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <mat-nav-list>
      <ng-container *ngIf="navItems.length; else noItems" >
        <ng-container *ngFor="let item of navItems; trackBy: trackByFn" >
          <mat-list-item [routerLink]="[item.route]" class="item-sidenav">
            <mat-icon class="icon">{{ item.icon }}</mat-icon>
            <span class="label">{{ item.label }}</span>
          </mat-list-item>
        </ng-container>
      </ng-container>
      <ng-template #noItems>
        <span>Não existem itens na lista</span>
      </ng-template>
    </mat-nav-list>


    <h4>Lista de aplicativos</h4>

    <app-applications-search class="search"></app-applications-search>

    <mat-nav-list>
      <ng-container *ngIf="applications.length; else noItems">
        <mat-list-item *ngFor="let aplicativo of applications" routerLink="/aplicativo/{{aplicativo.id}}" class="item-sidenav">
          {{ aplicativo.nameFormControl }}
        </mat-list-item>
        <ng-template #noItems>
          <span>Não existem itens na lista</span>
        </ng-template>
      </ng-container>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="content-main">
    <!-- conteúdo da página -->
    <button mat-icon-button (click)="drawer.toggle()" class="toggle-button">
      <img class="mini-logo" src="../assets/image/Captura de tela 2024-05-16 093921.png" alt="mini logo madero">
    </button>

    <router-outlet class="main-page"></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
