<div class="requests-grid" >
  <h2>Requisições recentes</h2>
  <div class="dashboard" *ngIf="requests.length > 0; else noErrors">
    <div class="card" *ngFor="let request of requests">
      <mat-card class="request-card">
        <mat-card-title [ngClass]="request.response ? 'mat-card-title-success' : 'mat-card-title-error'">
          {{ request.timestamp }}
          <span class="mat-end">
            <button  mat-icon-button (click)="redirectToApp(request.appId)">
              <mat-icon class="info">info</mat-icon>
            </button>
          </span>
        </mat-card-title>
        <mat-card-content>
          <p><strong>Url:</strong> {{ request.appUrl }}</p>
          <p><strong>Endpoint:</strong> {{ request.endpointReq }} {{ request.endpointUrl }}</p>
          <p><strong>Status:</strong> {{ request.response?.status || request.error?.status }} {{ request.response?.statusText || request.error?.statusText}}</p>
        </mat-card-content>
        <div class="navigation">
          <div class="prev"></div>
          <div class="next"></div>
        </div>
    </mat-card>
    </div>
  </div>
  <ng-template #noErrors>
    <p>No error requests found.</p>
  </ng-template>
</div>
