.container {
  display: flex;
  justify-content: space-between; /* Distribui o espaço entre os elementos */
  align-items: center; /* Alinha os elementos verticalmente ao centro */
  padding: 16px; /* Ajuste conforme necessário */
}

.config-app {
  font-size: 30px; /* Tamanho do ícone */
  width: auto;
  height: auto;
  cursor: pointer;
}

h2{
  font-weight: 500;
}

h4{
  margin-top: 3vh;
}

.gap{
  margin-bottom: 10vh;
}

.endpoints{
  margin: 0;
  padding: 0;
  list-style: none;
}

.li-endpoints{
  margin-bottom: 3vh;
  list-style-type: none;
}

.hidden {
  display: none;
}



.green-background {
  background-color: rgb(108, 255, 108);
  color: black; /* Opcional, para melhor contraste */
  padding: 0 5px; /* Opcional, para adicionar algum espaço interno */
  border-radius: 3px; /* Opcional, para bordas arredondadas */
}

.yellow-background {
  background-color: yellow;
  color: black;
  padding: 0 5px;
  border-radius: 3px;
}

.red-background {
  background-color: rgb(255, 87, 87);
  color: black;
  padding: 0 5px;
  border-radius: 3px;
}


.action{
 background-color:var(--yellowJ);
}


.button-detalhes{

 width: 10%;
 margin-left: 1.5vh;
 border: 1px black solid;
 margin-bottom: 2vh;
}

.example-card{
  margin-top: -4vh;
  box-shadow: none;
  width: 98%;
}

.content-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.detail-item p {
  margin: 0;
  white-space: nowrap;
}

.action-edit:hover{


  border-radius: 20px;
  background-color: rgb(255, 197, 72);
}

.action-trash:hover{

  border-radius: 20px;
  background-color: rgb(255, 53, 53);
}

.example-card {
  display: flex;
  flex-direction: column;
}

.content-details {
  display: flex;
  align-items: center;
}

.button-container {
  margin-left: auto;
  display: flex;
  gap: 8px; /* Espaçamento entre os botões */
}

.action-edit, .action-trash {
  display: flex;
  align-items: center;
}

