<button mat-icon-button color="warn" (click)="close()">
  <mat-icon>close</mat-icon>
</button>

<div fxLayout="column" fxLayoutAlign="space-evenly center" >
  <h2 mat-dialog-title class="title">Executar endpoint</h2>
  <p class="sub-title">{{app.appUrlFormControl}}{{endpoint.endpointUrlFormControl}}</p>
  <p class="sub-title">{{endpoint.reqFormControl}}  {{endpoint.endpointUrlFormControl}}</p>
</div>

<form [formGroup]="form">
  <mat-tab-group>
    <mat-tab label="Parâmetros">

        <div formArrayName="params">
          <div *ngFor="let paramCtrl of params.controls; let i = index" [formGroupName]="i" >
            <mat-form-field class="form-req" appearance="outline">
              <mat-label>{{ paramCtrl.get('paramNameFormControl')?.value }}</mat-label>
              <input matInput type="text" formControlName="paramValue" >
            </mat-form-field>
            <div *ngIf="paramCtrl.get('paramValue')?.invalid && paramCtrl.get('paramValue')?.touched">
              <span *ngIf="paramCtrl.get('paramValue')?.errors?.['required']">Este campo é obrigatório.</span>
            </div>
          </div>
        </div>

    </mat-tab>
    <mat-tab label="Cabeçalho">

        <button mat-button (click)="addHeader()">Adicionar cabeçalho<mat-icon class="mat-18">add</mat-icon></button>
        <div formArrayName="headers">
          <div *ngFor="let headerCtrl of headers.controls; let i = index" [formGroupName]="i" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
            <mat-form-field appearance="outline">
              <mat-label>Chave do cabeçalho</mat-label>
              <input matInput type="text" formControlName="cabecalhoChave">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Valor do cabeçalho</mat-label>
              <input matInput type="text" formControlName="cabecalhoValor">
            </mat-form-field>
            <button class="action-trash" mat-button (click)="removeHeader(i)">
              <mat-icon class="icon_trash">delete</mat-icon>
            </button>
          </div>
        </div>

    </mat-tab>
    <mat-tab label="Corpo">
      <textarea formControlName="body" placeholder="Corpo da requisição"></textarea>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="currentView === 'details'">
    <h3>Detalhes da execução do endpoint</h3>
    <p><strong>Status:</strong> Retorno HTTP</p>
    <p><strong>Url:</strong> {{executionDetails?.endpoint?.endpointUrlFormControl}}</p>
    <p><strong>Tipo:</strong> {{executionDetails?.endpoint?.reqFormControl}}</p>
    <p><strong>Cabeçalhos:</strong></p>
    <div *ngFor="let header of executionDetails?.headers">
      <p>{{header.cabecalhoChave}}: {{header.cabecalhoValor}}</p>
    </div>
    <p><strong>Payload:</strong></p>
    <pre>{{executionDetails?.body | json}}</pre>
  </div>

  <mat-dialog-actions class="box-botõesF" fxLayout="row" fxLayoutAlign="end center">
    <button mat-flat-button class="button-execute" (click)="executeRequest()">Executar</button>
  </mat-dialog-actions>

</form>



