<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1 mat-dialog-title class="title">
    <strong>{{ currentView === 'details' || currentView === 'error' ? 'Endpoint executado' : 'Executar endpoint' }}</strong>
  </h1>
  <button mat-icon-button color="warn" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="subtitle-modal" fxLayout="row" fxLayoutAlign="start start">
  <p mat-dialog-title class="sub-title">
    <strong>URL: </strong>{{app.appUrlFormControl}}
  </p>
  <p mat-dialog-title class="sub-title">
    <strong>Endpoint: </strong><span [ngClass]="{
      'green-background': endpoint.reqFormControl === 'GET' || endpoint.reqFormControl === 'POST',
      'yellow-background': endpoint.reqFormControl === 'PUT',
      'red-background': endpoint.reqFormControl === 'DELETE'
    }">{{endpoint.reqFormControl}}</span> {{endpoint.endpointUrlFormControl}}
  </p>
</div>

<div class="modal-content">
  <form [formGroup]="form" class="form-content">
    <mat-tab-group *ngIf="currentView !== 'details' && currentView !== 'error'">
      <mat-tab label="Parâmetros">
        <ng-container *ngIf="params.length; else noItems">
           <div formArrayName="params" >
              <div class="tab-content" *ngFor="let paramCtrl of params.controls; let i = index" [formGroupName]="i">
                <mat-form-field class="form-req" appearance="outline" >
                  <mat-label>{{ paramCtrl.get('paramNameFormControl')?.value }}</mat-label>
                  <input matInput type="text" formControlName="paramValue">
                </mat-form-field>
                <div *ngIf="paramCtrl.get('paramValue')?.invalid && paramCtrl.get('paramValue')?.touched">
                  <span *ngIf="paramCtrl.get('paramValue')?.errors?.['required']">Este campo é obrigatório.</span>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noItems>
            <div class="text-center">
              <span class="noItems">Não é necessário fornecer parâmetros.<br/> Caso a autenticação não seja necessária, você já pode executar o teste.</span>
              <mat-icon class="mat-18">thumb_up</mat-icon>
            </div>
          </ng-template>
      </mat-tab>

      <mat-tab label="Cabeçalho" class="tab-label">
        <button mat-button (click)="addHeader()">Adicionar cabeçalho<mat-icon class="mat-18">add</mat-icon></button>
        <div formArrayName="headers">
          <div *ngFor="let headerCtrl of headers.controls; let i = index" [formGroupName]="i" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
            <mat-form-field appearance="outline">
              <mat-label>Chave do cabeçalho</mat-label>
              <input matInput type="text" formControlName="key">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Valor do cabeçalho</mat-label>
              <input matInput type="text" formControlName="value">
            </mat-form-field>
            <button class="action-trash" mat-button (click)="removeHeader(i)">
              <mat-icon class="icon_trash">delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Corpo" class="tab-label">
        <div fxLayout="center" fxLayoutAlign="center">
          <textarea
            formControlName="body"
            [placeholder]="'{\n \'Key\': \'Value\';\n \'Key\': \'Value\';\n}'"
            style="width: 80%; height: 200px;"
          >
          </textarea>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="details-box" *ngIf="currentView === 'details'">
      <h3 class="details-title">Detalhes</h3>
      <div class="details-section">
        <p><strong>Status:</strong> {{executionDetails.status}} {{executionDetails.statusText}}</p>
        <p><strong>Url:</strong> {{executionDetails.url}}</p>
      </div>
      <div class="details-section">
        <p><strong>Cabeçalhos:</strong></p>
        <div class="header-detail" *ngFor="let header of this.headers.value">
          <p>
            <span class="header-key" (click)="truncatedText.toggleValue()">{{ header.key }} ...</span>
            <br>
            <span *ngIf="truncatedText.showValue">{{ header.value }}</span>
          </p>
        </div>
      </div>
      <div class="details-section">
        <p><strong>Payload:</strong></p>
        <pre class="json-output">{{responseHttp | json}}</pre>
      </div>
    </div>

    <div class="details-box error" *ngIf="currentView === 'error'">
      <h4 class="error-title">Erro!</h4>
      <div class="details-section">
        <p><strong>Status:</strong> {{errorDetails.status}} {{errorDetails.statusText}}</p>
        <p><strong>Mensagem:</strong> {{errorDetails.message}}</p>
      </div>
      <div class="details-section">
        <p><strong>Payload:</strong></p>
        <pre class="json-output">{{errorDetails.error | json}}</pre>
      </div>
    </div>
  </form>

  <footer fxLayout="row" fxLayoutAlign="end center" mat-dialog-actions   >
    <button mat-flat-button class="button-execute" (click)="executeRequest()" *ngIf="currentView !== 'details' && currentView !== 'error'">
      Executar
    </button>
  </footer>
</div>
