<div *ngIf="selectedApplication">
    <!-- Exibindo detalhes da aplicação -->
  <div class="container">
    <h1>{{selectedApplication.nameFormControl}}</h1>
    <mat-icon class="config-app">settings</mat-icon>
  </div>

  <h2><strong>Url: </strong>{{selectedApplication.appUrlFormControl}}</h2>

  <h2><strong>Auth: </strong>{{selectedApplication.authUrlFormControl}}</h2>

  <button class="open-auth" mat-raised-button color="primary" (click)="toggleAuthParamsVisibility()">Configurar Autenticação</button>

  <!-- Exibindo e editando authParams -->
  <section *ngIf="authParamsVisible" class="auth-params">
    <form [formGroup]="authForm" class="auth-form">
      <ng-container *ngIf="authParams.length; else noItems">
        <div formArrayName="authParams" class="auth-params-list">
          <div *ngFor="let paramAuth of authParams.controls; let i = index" [formGroupName]="i" class="auth-param">
            <mat-form-field appearance="outline" class="auth-form-field">
              <mat-label class="auth-label">{{ paramAuth.get('authParamName')?.value }}</mat-label>
              <div fxlayput="row" fxLayoutAlign="space-between center" class="div-teste">
                <input matInput [type]="visibilityStates[i] ? 'text' : 'password'" formControlName="authParamValue" class="auth-input">
                <button type="button" mat-icon-button (click)="toggleVisibility(i)" [matTooltip]="visibilityStates[i] ? 'Ocultar' : 'Mostrar'" class="visibility-toggle">
                  <mat-icon>{{ visibilityStates[i] ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
              </div>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="receiveAuthorization()" class="submit-button">Receber autorização</button>
        <button mat-raised-button color="warn" (click)="getStoredToken()" class="submit-button">Copiar Token</button>
      </ng-container>
      <ng-template #noItems>
        <span class="noItems">Não é necessário</span>
      </ng-template>
    </form>
  </section>

  <h3>Testar endpoints:</h3>

  <section class="content" >
    <ul class="endpoints">
      <li class="li-endpoints" *ngFor="let endpoint of selectedApplication.endpoints; let i = index">
        <mat-card class="card">
          <mat-card-header fxLayout="row" fxLayoutAlign="space-between start">
            <mat-card-title>
              <span [ngClass]="{
                'green-background': endpoint.reqFormControl === 'GET' || endpoint.reqFormControl === 'POST',
                'yellow-background': endpoint.reqFormControl === 'PUT',
                'red-background': endpoint.reqFormControl === 'DELETE'
              }">{{endpoint.reqFormControl}}</span> {{endpoint.endpointUrlFormControl}}
            </mat-card-title>
            <mat-card-actions align="end">
              <button mat-mini-fab class="action" (click)="openTest(endpoint, selectedApplication, parameter)">
                <mat-icon class="icon_action">play_arrow</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card-header>

          <mat-expansion-panel class="extension-history" (click)="detailsEndpoint(i)">
            <mat-expansion-panel-header class="box-history">
              <mat-panel-title>Histórico de requisições:</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-card-content class="extension-history-open">
              <mat-accordion>
                <mat-expansion-panel class="extension-history-endpoint" *ngFor="let request of endpointRequests[endpoint.id]"  [ngClass]="{'error-card': request.error}">
                  <mat-expansion-panel-header>
                    <mat-panel-title fxLayout="row" fxLayoutGap="25px" >
                      <p><strong>Date:</strong> {{ request.timestamp }}</p>
                      <p><strong>Status:</strong> {{ request.response?.status || request.error?.status }} {{ request.response?.statusText || request.error?.statusText }}</p>
                      <p><strong>Method:</strong> {{ request.endpointReq }}</p>
                      <p><strong>URL:</strong> {{ request.response?.url || request.error?.url }}</p>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="example-card" [ngClass]="{'error-card': request.error}">
                    <p *ngIf="!request.error"><strong>Headers:</strong></p>
                    <ul class="ul-headers" *ngIf="!request.error">
                      <li class="li-headers" *ngFor="let header of request.headers">
                        {{ header.key }}: {{ header.value }}
                      </li>
                    </ul>
                    <p *ngIf="request.error"><strong>Error Details:</strong></p>
                    <p *ngIf="request.error">{{ request.error.message }}</p>
                    <p><strong>Body enviado:</strong> {{ request.body | json }}</p>
                    <p><strong>Response:</strong></p>
                    <pre *ngIf="!request.error">{{ request.response?.body | json }}</pre>
                  </div>
                </mat-expansion-panel>
                <p *ngIf="!endpointRequests[endpoint.id] || endpointRequests[endpoint.id].length === 0">No requests found.</p>
              </mat-accordion>
            </mat-card-content>
          </mat-expansion-panel>
        </mat-card>
      </li>
    </ul>
  </section>

  <p class="gap"></p>

</div>
